[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/xtensor"]
	path = thirdparty/xtensor
	url = https://github.com/QuantStack/xtensor.git
[submodule "thirdparty/xtl"]
	path = thirdparty/xtl
	url = https://github.com/QuantStack/xtl.git
[submodule "thirdparty/xtensor-python"]
	path = thirdparty/xtensor-python
	url = https://github.com/QuantStack/xtensor-python.git
	branch = master
[submodule "thirdparty/xsimd"]
	path = thirdparty/xsimd
	url = https://github.com/QuantStack/xsimd.git
[submodule "thirdparty/tbb"]
	path = thirdparty/tbb
	url = https://github.com/intel/tbb.git
	ignore = dirty
