git+https://github.com/European-XFEL/karabo-bridge-py.git
git+https://github.com/European-XFEL/karabo_data.git
cycler==0.10.0
fabio==0.6.0
h5py==2.7.1
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack==0.5.6
msgpack-numpy==0.4.3
numexpr==2.6.5
numpy==1.14.3
pandas==0.20.3
pyFAI==0.15.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
pyzmq==17.0.0
scipy==1.1.0
silx==0.7.0
six==1.11.0
