argon2-cffi==21.3.0
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
bleach==5.0.0
certifi==2021.10.8
cfelpyutils==2.0.6
cffi==1.15.0
cloudpickle==2.0.0
cycler==0.11.0
Cython==0.29.28
dask==2022.5.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
EXtra-data==1.11.0
fabio==0.13.0
fsspec==2022.3.0
EXtra-geom==1.7.0
future==0.18.2
h5py==3.6.0
hiredis==2.0.0
imageio==2.19.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.0
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
karabo-bridge==0.6.1
kiwisolver==1.4.2
libcst==0.4.1
locket==0.2.1
lttbc==0.2.1
MarkupSafe==2.1.1
matplotlib==3.5.2
mistune==2.0.2
msgpack==1.0.3
msgpack-numpy==0.4.7.1
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
numexpr==2.8.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
pybind11==2.9.2
pycparser==2.21
pyFAI==0.21.3
Pygments==2.12.0
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
redis==4.2.2
RTDConf==0.1
scipy==1.8.0
Send2Trash==1.8.0
silx==1.0.0
six==1.16.0
slumber==0.7.1
terminado==0.13.3
testpath==0.6.0
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
typing==3.7.4.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
xarray==2022.3.0
